#main{
  position:absolute;
  width:450px;
  height:100px;
  text-align: center;
  margin-left: 650px;
  margin-top: 120px;
}
#main1{
  position:absolute;
  width:450px;
  height:100px;
  text-align: center;
  margin-left: 500px;
  margin-top: 120px;
}
#main1 > div{
  float:left;
}
#main > div{
  float:left;
}
#d1{
  width:150px;
  height:100px;
  margin-right: 25px;
  vertical-align: middle;
}

#d2{
  width:150px;
  height:100px;
  color: #1919ff;
  background: #ffcccc;
  border-radius: 13px; 
  vertical-align: middle;
}

#d3{
  margin-left: 525px;
  margin-top: 275px;
  position: absolute;
  width: 400px;
  text-align: left;
}

#d31{
  margin-left: 300px;
  margin-top: 275px;
  position: absolute;
  width: 800px;
  text-align: left;
}

#d4{
  width:450px;
  height:100px;
  color: #1919ff;
  background: #ffcccc;
  border-radius: 13px; 
  vertical-align: middle;
}

h1{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
}
h2{
  color: #4c4c4c;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
input[type=text], select {
    width: 100%;
    font-size: 14px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 14px 20px;
    margin-top: 40px;
    margin-left: 135px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=Password], select {
    width: 100%;
    font-size: 14px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]:hover {
    background-color: #45a049;
}
body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(65vw, 70vh, 74px);
            transform: translate3d(65vw, 70vh, 74px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(65vw, 70vh, 74px);
            transform: translate3d(65vw, 70vh, 74px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.52;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(62vw, 32vh, 32px);
          transform: translate3d(62vw, 32vh, 32px);
  background: #2f26d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(42vw, 13vh, 51px);
            transform: translate3d(42vw, 13vh, 51px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(42vw, 13vh, 51px);
            transform: translate3d(42vw, 13vh, 51px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.83;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(3vw, 68vh, 35px);
          transform: translate3d(3vw, 68vh, 35px);
  background: #d94726;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(83vw, 19vh, 98px);
            transform: translate3d(83vw, 19vh, 98px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(83vw, 19vh, 98px);
            transform: translate3d(83vw, 19vh, 98px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(70vw, 14vh, 3px);
          transform: translate3d(70vw, 14vh, 3px);
  background: #9726d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(42vw, 50vh, 68px);
            transform: translate3d(42vw, 50vh, 68px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(42vw, 50vh, 68px);
            transform: translate3d(42vw, 50vh, 68px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(8vw, 4vh, 20px);
          transform: translate3d(8vw, 4vh, 20px);
  background: #d92659;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(28vw, 30vh, 69px);
            transform: translate3d(28vw, 30vh, 69px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(28vw, 30vh, 69px);
            transform: translate3d(28vw, 30vh, 69px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.62;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(81vw, 43vh, 80px);
          transform: translate3d(81vw, 43vh, 80px);
  background: #26d9c4;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(84vw, 55vh, 33px);
            transform: translate3d(84vw, 55vh, 33px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(84vw, 55vh, 33px);
            transform: translate3d(84vw, 55vh, 33px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.27;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(13vw, 20vh, 8px);
          transform: translate3d(13vw, 20vh, 8px);
  background: #d9d026;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(77vw, 25vh, 44px);
            transform: translate3d(77vw, 25vh, 44px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(77vw, 25vh, 44px);
            transform: translate3d(77vw, 25vh, 44px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.24;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(7vw, 24vh, 71px);
          transform: translate3d(7vw, 24vh, 71px);
  background: #6b26d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(41vw, 21vh, 35px);
            transform: translate3d(41vw, 21vh, 35px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(41vw, 21vh, 35px);
            transform: translate3d(41vw, 21vh, 35px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(15vw, 8vh, 36px);
          transform: translate3d(15vw, 8vh, 36px);
  background: #d926a6;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(18vw, 17vh, 66px);
            transform: translate3d(18vw, 17vh, 66px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(18vw, 17vh, 66px);
            transform: translate3d(18vw, 17vh, 66px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.19;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(45vw, 41vh, 35px);
          transform: translate3d(45vw, 41vh, 35px);
  background: #c126d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(72vw, 45vh, 22px);
            transform: translate3d(72vw, 45vh, 22px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(72vw, 45vh, 22px);
            transform: translate3d(72vw, 45vh, 22px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.98;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(66vw, 23vh, 100px);
          transform: translate3d(66vw, 23vh, 100px);
  background: #263bd9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(69vw, 30vh, 4px);
            transform: translate3d(69vw, 30vh, 4px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(69vw, 30vh, 4px);
            transform: translate3d(69vw, 30vh, 4px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.78;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(75vw, 18vh, 39px);
          transform: translate3d(75vw, 18vh, 39px);
  background: #62d926;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(15vw, 1vh, 30px);
            transform: translate3d(15vw, 1vh, 30px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(15vw, 1vh, 30px);
            transform: translate3d(15vw, 1vh, 30px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.72;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(9vw, 60vh, 47px);
          transform: translate3d(9vw, 60vh, 47px);
  background: #26d938;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(81vw, 48vh, 4px);
            transform: translate3d(81vw, 48vh, 4px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(81vw, 48vh, 4px);
            transform: translate3d(81vw, 48vh, 4px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.32;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(26vw, 60vh, 80px);
          transform: translate3d(26vw, 60vh, 80px);
  background: #bbd926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(55vw, 76vh, 50px);
            transform: translate3d(55vw, 76vh, 50px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(55vw, 76vh, 50px);
            transform: translate3d(55vw, 76vh, 50px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.24;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(38vw, 33vh, 30px);
          transform: translate3d(38vw, 33vh, 30px);
  background: #d93e26;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(43vw, 7vh, 50px);
            transform: translate3d(43vw, 7vh, 50px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(43vw, 7vh, 50px);
            transform: translate3d(43vw, 7vh, 50px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.43;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(8vw, 34vh, 76px);
          transform: translate3d(8vw, 34vh, 76px);
  background: #4126d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(18vw, 27vh, 19px);
            transform: translate3d(18vw, 27vh, 19px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(18vw, 27vh, 19px);
            transform: translate3d(18vw, 27vh, 19px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.01;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(80vw, 61vh, 97px);
          transform: translate3d(80vw, 61vh, 97px);
  background: #265cd9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(25vw, 51vh, 57px);
            transform: translate3d(25vw, 51vh, 57px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(25vw, 51vh, 57px);
            transform: translate3d(25vw, 51vh, 57px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.99;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(90vw, 74vh, 94px);
          transform: translate3d(90vw, 74vh, 94px);
  background: #4a26d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(2vw, 2vh, 5px);
            transform: translate3d(2vw, 2vh, 5px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(2vw, 2vh, 5px);
            transform: translate3d(2vw, 2vh, 5px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(40vw, 74vh, 3px);
          transform: translate3d(40vw, 74vh, 3px);
  background: #acd926;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(41vw, 87vh, 100px);
            transform: translate3d(41vw, 87vh, 100px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(41vw, 87vh, 100px);
            transform: translate3d(41vw, 87vh, 100px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(46vw, 84vh, 27px);
          transform: translate3d(46vw, 84vh, 27px);
  background: #d96826;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(62vw, 31vh, 38px);
            transform: translate3d(62vw, 31vh, 38px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(62vw, 31vh, 38px);
            transform: translate3d(62vw, 31vh, 38px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(56vw, 81vh, 96px);
          transform: translate3d(56vw, 81vh, 96px);
  background: #26d6d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(77vw, 43vh, 10px);
            transform: translate3d(77vw, 43vh, 10px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(77vw, 43vh, 10px);
            transform: translate3d(77vw, 43vh, 10px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.9;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(80vw, 40vh, 61px);
          transform: translate3d(80vw, 40vh, 61px);
  background: #d95026;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(48vw, 20vh, 82px);
            transform: translate3d(48vw, 20vh, 82px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(48vw, 20vh, 82px);
            transform: translate3d(48vw, 20vh, 82px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.42;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(9vw, 7vh, 63px);
          transform: translate3d(9vw, 7vh, 63px);
  background: #4126d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(46vw, 76vh, 39px);
            transform: translate3d(46vw, 76vh, 39px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(46vw, 76vh, 39px);
            transform: translate3d(46vw, 76vh, 39px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.52;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(13vw, 60vh, 71px);
          transform: translate3d(13vw, 60vh, 71px);
  background: #d926ac;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(41vw, 88vh, 40px);
            transform: translate3d(41vw, 88vh, 40px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(41vw, 88vh, 40px);
            transform: translate3d(41vw, 88vh, 40px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(47vw, 68vh, 13px);
          transform: translate3d(47vw, 68vh, 13px);
  background: #26d985;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(83vw, 65vh, 1px);
            transform: translate3d(83vw, 65vh, 1px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(83vw, 65vh, 1px);
            transform: translate3d(83vw, 65vh, 1px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.52;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(62vw, 40vh, 81px);
          transform: translate3d(62vw, 40vh, 81px);
  background: #2626d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(82vw, 14vh, 54px);
            transform: translate3d(82vw, 14vh, 54px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(82vw, 14vh, 54px);
            transform: translate3d(82vw, 14vh, 54px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(71vw, 49vh, 98px);
          transform: translate3d(71vw, 49vh, 98px);
  background: #26d9b8;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(31vw, 48vh, 90px);
            transform: translate3d(31vw, 48vh, 90px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(31vw, 48vh, 90px);
            transform: translate3d(31vw, 48vh, 90px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(51vw, 17vh, 59px);
          transform: translate3d(51vw, 17vh, 59px);
  background: #d92671;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(34vw, 87vh, 68px);
            transform: translate3d(34vw, 87vh, 68px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(34vw, 87vh, 68px);
            transform: translate3d(34vw, 87vh, 68px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(54vw, 70vh, 97px);
          transform: translate3d(54vw, 70vh, 97px);
  background: #262fd9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(33vw, 73vh, 66px);
            transform: translate3d(33vw, 73vh, 66px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(33vw, 73vh, 66px);
            transform: translate3d(33vw, 73vh, 66px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.23;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(74vw, 20vh, 77px);
          transform: translate3d(74vw, 20vh, 77px);
  background: #d9d926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(44vw, 58vh, 82px);
            transform: translate3d(44vw, 58vh, 82px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(44vw, 58vh, 82px);
            transform: translate3d(44vw, 58vh, 82px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.03;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(8vw, 25vh, 63px);
          transform: translate3d(8vw, 25vh, 63px);
  background: #26d9ca;
}